.cart_section {
  width: 80%;
  /* background-color: aqua; */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  /* padding: 1rem; */
  justify-content: space-between;
  gap: 1rem;
}

.cart_details {
  width: 68%;
  /* background-color: brown; */
  /* padding: 1rem; */
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.cart_details .item_card {
  width: 100%;
  display: flex;
  border-radius: 1rem;
  background-color: white;
  padding: 1rem;
  box-shadow: 1px 1px 8px #cacaca;
}

.cart_item_photo img {
  width: 15rem;
  border-radius: 1rem;
}

.quantity_btn_section {
  border: 0.1rem solid var(--main-color);
  width: 55%;
  border-radius: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  /* background-image: linear-gradient(to right, #ff000025, #ff00001e, #ff000013); */
}

.quantity_btn_section button {
  width: 2rem;
  background: transparent;
}

.cart_billing {
  width: 32%;
  height: auto;
  padding: 1rem;
  background-color: white;
  box-shadow: 1px 1px 8px #cacaca;
  border-radius: 1rem;
}

.cart_billing .about_restaurant img {
  width: 5rem;
  border-radius: 0.5rem;
}

.cart_billing .about_restaurant {
  display: flex;
  gap: 1rem;
}

.about_restaurant p {
  color: var(--main-color);
  font-size: small;
  font-weight: 500;
}

.cart_billing .item_details {
  padding: 1rem;
}
.item_details .about_item {
  display: flex;
  justify-content: space-between;
  font-size: small;
}

.item_price {
  color: #4ba74b;
}

.item_name {
  font-weight: 600;
}

.no_contact_delivery {
  display: flex;
  gap: 1rem;
  border: 0.1rem solid #00000021;
  border-radius: 0.5rem;
  /* box-shadow: inset 1px 1px 3px #cacaca; */
  padding: 0.5rem;
}

.no_contact_delivery p {
  font-size: 0.7rem;
}

.no_contact_delivery p span {
  font-weight: 600;
}

.bill_details {
  padding-top: 1rem;
  font-size: small;
  font-weight: 500;
  padding: 1rem;
}

.bill_details div {
  display: flex;
  justify-content: space-between;
}

.bill_heading {
  color: grey;
}

.bill_value {
  color: #4ba74b;
}

.total {
  /* margin-top: 1rem; */
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.place_order button {
  padding: 0.5rem;
  width: 100%;
  border-radius: 0.5rem;
  color: var(--main-color);
  background-color: #ff00001f;
  transition: 0.5s;
}

.place_order button:hover {
  background-color: var(--main-color);
  color: white;
}
