.loader {
  display: flex;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  padding: 0.5rem;
  border: 5px solid #e2e2e2;
  border-top: 5px solid #ef1d26;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-top: 14%;
  margin-bottom: 14%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
