:root {
  --bg-color: #272727;
  --second-bg-color: #ef1d276b;
  --main-color: #ef1d26;
  --disable: #00000077;
  --white: #ffffff;
  --black: #000000;
  --disable-white: #ffffff7c;
}
.additem-nav {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}
.additem-nav img {
  width: 10rem;
}

.additem-nav .back-btn {
  border: 0.1rem solid var(--main-color);
  border-radius: 0.5rem;
  padding: 0.6rem;
  display: flex;
  align-items: center;
}

.additem-form {
  display: flex;
  align-items: center;
}

.additem-nav .back-btn i {
  color: var(--main-color);
  font-size: x-large;
}

.additem-section {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  position: relative;
}
.additem-section img {
  width: 23rem;
}
.photo-selector {
  display: flex;
  gap: 1rem;
  width: 100%;
  /* background-color: #000000; */
}

.selector-input {
  display: block;
  width: 100%;
}
.selector-input label {
  color: var(--bg-color);
  font-weight: 500;
  font-size: small;
  margin-left: 0.5rem;
}
.selector-input input {
  width: 100%;
  /* border: 0.1rem solid var(--disable); */
  /* box-shadow: inset 2px 2px 4px #0000003d; */
  box-shadow: 0px 0px 4px #00000057;
  border-radius: 0.3rem;
  padding: 0.5rem;
}

.item-input {
  display: block;
}

.item-input label {
  color: var(--bg-color);
  font-weight: 500;
  font-size: small;
  margin-left: 0.5rem;
}

.item-input input {
  width: 100%;
  /* border: 0.1rem solid var(--disable);*/
  box-shadow: 0px 0px 4px #00000057;
  border-radius: 0.3rem;
  padding: 0.5rem;
}

.time-input label {
  color: var(--bg-color);
  font-weight: 500;
  font-size: small;
  margin-left: 0.5rem;
}

.time-input input {
  width: 100%;
  /* border: 0.1rem solid var(--disable); */
  box-shadow: 0px 0px 4px #00000057;
  border-radius: 0.3rem;
  padding: 0.5rem;
}
.chefup {
  display: none;
}
.additem-submit {
  width: 100%;
  background-color: var(--main-color);
  color: var(--white);
  border-radius: 0.3rem;
  padding: 0.5rem;
  margin-top: 1rem;
}
.additem-error {
  color: var(--main-color);
  font-size: small;
  font-weight: 500;
}

@media screen and (max-width: 512px) {
  .additem-section {
    display: block;
  }
  .chefup {
    display: block;
  }
  .chefleft {
    display: none;
  }
  .additem-form {
    display: block;
    justify-content: left;
  }
  .photo-selector {
    display: block;
  }
  .photo-selector input {
    width: 100%;
  }
}
